
    <div class="col-lg-10 mb-10 card">
        <%#---Receipt start---%>

        <a href='/' id="reset" class="hidden" style="float: right;">Reset</a>
        <a href='/' id="create_new" class="hidden" style="float: right; margin-right: 10px">Create New</a>
        <div class="flip-card">
            <div class="flip-card-front text-center" id="start">
                     <img class="receipt" src="assets/receipt.png" alt="receipt">
                     <h3 class="card-title decorative" id="start">Issue Quick Receipt</h3>
            </div>
            <div class="flip-card-back" id="js-flip">
                <div class="flip-card-inner text-center">
                    <button type="button" class="btn btn-outline-light btn-lg" id="start-button">Start</button>
                </div>
            </div>
        </div>
        
        <%# ---Organization search---%>

        <div id="org-search" class="hidden">
            <h3>Search for Business/Organization</h3><br>
            <%= form_tag('search', method: 'get', class: 'org-search-form') do %>
                <%= text_field_tag :name, params[:name], options = {placeholder: 'Enter name...', style:"border: none; border-bottom: 2px solid rgb(240, 8, 143); width: 90%;"}%>
                <%= submit_tag("Search", class: "btn marz-button", id: "submit-search") %>
            <% end %>
        </div>

        <%# ---Pin authentication input---%>

        <div id="authenticate-pin" class="hidden">
            <h3>Supply PIN To Issue Receipt</h3><br>
            <%= form_tag('validate', method: 'get', class: 'pin') do %>
                <%= hidden_field_tag 'organization_id'  %>
                <%= text_field_tag :pin, params[:pin], options = {style:"border: none; border-bottom: 2px solid rgb(240, 8, 143); width: 50%;"}%>
                <%= submit_tag("Submit", class: "btn marz-button", id: "submit-pin") %>
            <% end %>
        </div> 

        <%# ---Create New Organization--- %>

        <div id="create_org" class="hidden">
            <h3>Create New Business/Organization</h3>
            <%= form_for Organization.new, html: {id: :create_org_form } do |f| %>
                <%= f.label :name %>
                <%= f.text_field :name, class: "form-control"%></br>
                <%= f.label :addresss %>
                <%= f.text_field :address, class: "form-control"%></br>
                <%= f.label :city %>
                <%= f.text_field :city, class: "form-control"%></br>
                <%= f.label :state %>
                <%= f.text_field :state, class: "form-control"%></br>
                <%= f.label :zipcode %>
                <%= f.text_field :zipcode, class: "form-control"%></br>
                <%= f.label :phone %>
                <%= f.text_field :phone, class: "form-control"%></br>
                <%= f.label :billing_email %>
                <%= f.text_field :billing_email, class: "form-control"%></br>
                <%= f.label :audit_email %>
                <%= f.text_field :audit_email, class: "form-control"%></br>
                <%= f.label :pin %>
                <%= f.text_field :pin, class: "form-control"%></br>
                <%= f.submit class: "btn marz-button", id: "create_org_submit" %>
            <% end %>        
        </div>
    </div>

    <div class="col-lg-10 mb-10 hidden" id="card-results">
        <div id="search-results" class="table hidden"></div>
    </div>








