<!DOCTYPE html>
<html>
  <head>
    <title>CarbonCopy</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Anton|Archivo+Narrow|Shadows+Into+Light&display=swap" rel="stylesheet">
  </head>

  <body>
    
    <div class="marz-signup-container" style="display: block; height: 867px;">
        <div class="container-fluid">
            <div class="row">
                <div class="marz-signup-left col-md-3 col-sm-3 text-center" style="height: 867px;">
                  <%= image_tag ("carboncopylogo-white.png"), :class => "marz-signup-logo" %>
                  <a href='/' class="btn marz-button btn-lg" id="startover">Start Over</a>
                </div>
                <div class="marz-signup-right col-md-9 col-sm-9" style="height: 867px;">

                <div id="error">
                  <% if notice %>
                    <p class="alert alert-success"><%= notice %></p>
                    <% end %>
                    <% if alert %>
                        <p class="alert alert-danger">The following errors have prevented this action:</p>
                        <ul>
                            <% alert.each do |a| %>
                            <li><%= a %></li>
                            <% end %>
                        </ul>
                    <% end %>
                </div>
                
                  <div id="main">
                    <%= yield %>
                  </div>
                
                  </div>
            </div>
        </div>
    </div>
  </body>
</html>
